* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
}

.box {
    height: 970px;
    width: 100%;
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
}

.header {
    background: url(../img/bg/main_bg.png);
    height: 652px;
    min-width: 682px;
    float: right;
    margin-top: 121px;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    padding: 2% 10%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 120px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav-links ul li a {
    text-decoration: none;
    color: #fff;
}

.box-section {
    padding: 2% 10%;
    margin-top: 198px;
    color: #fff;
    line-height: 80px
}

.title {
    font-size: 80px;
}

.box-section__text {
    font-size: 30px;
    margin-top: 10px;
}

.box-section__btn {
    width: 170px;
    height: 66px;
    background-color: #FC0A7E;
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.suptitle {
    text-align: center;
    background-color: #1B1B1B;
    height: 957px;
    width: 100%;
    font-weight: 400;
}

.suptitle__text {
    padding-top: 100px;
    color: #A8A8A8;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.suptitle__title {
    margin-top: 25px;
    font-size: 38px;
    line-height: 48px;
    color: #FFFFFF;
    font-weight: 400;
}

.suptitle__img {
    background-repeat: no-repeat;
    width: 100%;
    height: 657px;
    margin-top: 60px;
}


/* .container{
    display: flex;
} */

.content {
    margin-top: 259px;
    display: inline-block;
    vertical-align: middle;
}

.content__title-text {
    margin-top: 25px;
}

.content__text {
    margin-top: 22px;
}

.img-1 {
    background-image: url(/img/content/1.png);
    height: 652px;
    min-width: 682px;
    float: right;
    margin-top: 121px;
    background-repeat: no-repeat;
}
.holder{
 margin-top: 80px;
}
.id1 {
    float: right;
    padding-right: 25%;
}

.id2 {
    font-size: 18px;
    padding-left: 25%;
}
.col__suptitle {
    padding-top: 269px;
    text-transform: uppercase;
    color: #A8A8A8;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.col__title {
    margin-top: 50px;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
}
.col__text {
    margin-top: 22px;
    font-weight: 400;
    color: #6B6B6B;
    font-size: 16px;
    line-height: 30px;
}
.id3 {
    float: left;
    padding-left: 24%;
    margin-top: 160px;
}

.id4 {
    font-size: 18px;
    padding-left: 60%;
    margin-top: -134px;
}
.col__inner-1{
    margin-top: 365px;
    
}
.col__suptitle-1{
    margin-top: 288px;
    text-transform: uppercase;
    color: #A8A8A8;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
   
}
.col__title-2 {
    margin-top: 45px;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;

}
.col__text-3 {
    margin-top: 27px;
    font-weight: 400;
    color: #6B6B6B;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 131px;
}
.id5 {
    float: right;
    padding-right: 25%;
    margin-top: 160px;
}

.id6 {
    font-size: 18px;
    padding-left: 25%;
}
.col__suptitle {
    padding-top: 269px;
    text-transform: uppercase;
    color: #A8A8A8;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.col__title {
    margin-top: 50px;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
}
.col__text {
    margin-top: 22px;
    font-weight: 400;
    color: #6B6B6B;
    font-size: 16px;
    line-height: 30px;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
.about__inner {
    text-align: center;
    padding-top: 105px;
}
.about__title {
    margin: 0;
    font-size: 36px;
    color: rgb(33, 33, 33);
    font-weight: 400;
    margin-bottom: 30px;
}
.about__line {
    margin: 0 auto 30px;
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
}
.about__text {
    margin: 0;
    margin-bottom: 80px;
    font-size: 14px;
    color: rgb(134, 135, 139);  
}
.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    gap: 120px;
}
.item {
    max-width: 330px;
    text-align: center;
}
.fa {
    color: #ff8b38;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 35px;
    font-size: 30px;
    margin: 0 auto;
}
.item__title {
    font-weight: 400;
    margin: 25px 0 20px;
}
.item__text {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: rgb(134, 135, 139);  
}
.statistics__wrapper{
    margin-top: 161px;
    width: 100%;
}
.statistics__inner{
    display: flex;
    gap: 125px;
    align-items: center;
    justify-content: center;
}
.statistics__numbers{
    text-align: center;
}
.numbers{
    font-size: 59px;
    line-height: 90px;
    color: #333333;
    font-weight: 400;
}
.statistics__text{
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}
.blockquote{
    margin-top: 50px;
    text-align: center;
}
.blockquote__text{
    text-align: center;
    margin-top: 30px;
    color: #6B6B6B;
}
.blockquote__suptitle{
    text-align: center;
    margin-top: 11px;
    color: #6B6B6B; 
}
.partners{
    margin-top: 60px;
    text-align: center;
}
.main__bg{
    margin-top: 78px;
    width: 100%;
    height: 600px;
}
footer{
    background-color: #1B1B1B;
    width: 100%;
    height: 70vh;
    background-size: cover;
    text-align: center;
    margin-top: 80px;
}
.footer-input {
    width: 20%;
    font-size: 18px;
    color: #555;
    background: #fff;
    border: 1px solid #ccc;
    padding: 26px 13px;
}
.footer-btn {
    width: 10%;
    height: 77px;
    background-color: #FC0A7E;
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.footer__title{
    padding-top: 129px;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: #FFFFFF;
}
.footer__text{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
}
.footer-input{
    margin-top: 40px
}
.footer__logo{
    margin-top: 91px;
}
.footer__social{
    display: inline-block;
    justify-content: space-around;
    margin: 30px;
}